{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %}

{% block content%}
<div class="jumbotron">
    <h2>Hello there, if you tired of casual music you can find something new here. You can look for new artists from top artists of Spotify.
        If you want listen to some fresh music you can find here all last releases and top charts of Spotify.</h2>

    <h2>Also you can register here and check some new functions which we want to implement.</h2>

    <h2>Enjoy the music</h2>
</div>

{% endblock %}